@charset "UTF-8";
@CHARSET "UTF-8";
/* ==========================================================================
   default Author styles
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, main,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  /*padding: 0;*/
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div, li {
  display: block; }

html, body {
  height: 100%;
  /*adaptar el dise├▒o al ancho de la ventana del navegador*/
  max-width: 100%;
  /*nada puede ser mas ancho que la pagina, evitamos el scroll horizontal*/
  margin: 0 auto;
  padding: 0; }

html {
  font: 16px verdana, arial, sans-serif;
  /*1rem = 16px*/
  color: #4C4C4C;
  cursor: auto;
  -webkit-font-smoothing: antialiased;
  /*solo MAC, efecto antialiasing, renderice mejor el texto e imagenes*/ }

h1, h2, h3, h4 {
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1em;
  text-align: center; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.header-pokedex .navbar {
  font-weight: bold;
  padding: 5px 0 10px; }
.header-pokedex .glyph {
  width: 24px;
  vertical-align: middle; }

.view-pokemon:first-child {
  margin-top: 90px; }
.view-pokemon li, .view-pokemon h2:first-letter, .view-pokemon h3:first-letter {
  text-transform: capitalize; }
.view-pokemon .avatar {
  max-width: 440px;
  width: 100%;
  margin-bottom: 20px; }
.view-pokemon .nav-tabs {
  text-transform: capitalize;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 30px 0; }
.view-pokemon .list-pokeAblt {
  list-style: disc outside none;
  margin-top: 10px; }
.view-pokemon .pokeAblt {
  display: list-item; }

.evolution .pokeEvo-list {
  text-align: center; }
.evolution .glyphicon {
  text-align: center;
  margin: 50px 0;
  font-size: 2em; }
.evolution img {
  max-width: 150px; }

.pokeType .normal {
  background-color: #a8a878;
  border: solid 1px #6d6d4e; }
.pokeType.fire {
  background-color: #f08030;
  border: solid 1px #9c531f; }
.pokeType.fighting {
  background-color: #c03028;
  border: solid 1px #7d1f1a; }
.pokeType.water {
  background-color: #6890f0;
  border: solid 1px #445e9c; }
.pokeType.flying {
  background-color: #a890f0;
  border: solid 1px #6d5e9c; }
.pokeType.grass {
  background-color: #78c850;
  border: solid 1px #4e8234; }
.pokeType.poison {
  background-color: #a040a0;
  border: solid 1px #c183c1; }
.pokeType.eletric {
  background-color: #f8d030;
  border: solid 1px #a1871f; }
.pokeType.ground {
  background-color: #e0c068;
  border: solid 1px #927d44; }
.pokeType.psychic {
  background-color: #f85888;
  border: solid 1px #a13959; }
.pokeType.rock {
  background-color: #b8a038;
  border: solid 1px #786824; }
.pokeType.ice {
  background-color: #98d8d8;
  border: solid 1px #638d8d; }
.pokeType.bug {
  background-color: #a8b820;
  border: solid 1px #6d7815; }
.pokeType.dragon {
  background-color: #7038f8;
  border: solid 1px #4924a1; }
.pokeType.ghost {
  background-color: #705898;
  border: solid 1px #493963; }
.pokeType.dark {
  background-color: #705848;
  border: solid 1px #49392f; }
.pokeType.steel {
  background-color: #b8b8d0;
  border: solid 1px #787887; }
.pokeType.fairy {
  background-color: #ee99ac;
  border: solid 1px #9b6470; }

/*# sourceMappingURL=app.css.map */
