@charset "UTF-8";
@CHARSET "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, main,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  /*padding: 0;*/
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div, li {
  display: block; }

html, body {
  height: 100%;
  /*adaptar el dise├▒o al ancho de la ventana del navegador*/
  max-width: 100%;
  /*nada puede ser mas ancho que la pagina, evitamos el scroll horizontal*/
  margin: 0 auto;
  padding: 0; }

html {
  font: 16px verdana, arial, sans-serif;
  /*1rem = 16px*/
  color: #4C4C4C;
  cursor: auto;
  -webkit-font-smoothing: antialiased;
  /*solo MAC, efecto antialiasing, renderice mejor el texto e imagenes*/ }

h1, h2, h3, h4 {
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1em;
  text-align: center; }

h1 {
  text-transform: capitalize;
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

.label {
  text-indent: 0; }

.pokeType.normal {
  background-color: #a8a878;
  border: solid 1px #6d6d4e; }
.pokeType.fire {
  background-color: #f08030;
  border: solid 1px #9c531f; }
.pokeType.fighting {
  background-color: #c03028;
  border: solid 1px #7d1f1a; }
.pokeType.water {
  background-color: #6890f0;
  border: solid 1px #445e9c; }
.pokeType.flying {
  background-color: #a890f0;
  border: solid 1px #6d5e9c; }
.pokeType.grass {
  background-color: #78c850;
  border: solid 1px #4e8234; }
.pokeType.poison {
  background-color: #a040a0;
  border: solid 1px #c183c1; }
.pokeType.electric {
  background-color: #f8d030;
  border: solid 1px #a1871f; }
.pokeType.ground {
  background-color: #e0c068;
  border: solid 1px #927d44; }
.pokeType.psychic {
  background-color: #f85888;
  border: solid 1px #a13959; }
.pokeType.rock {
  background-color: #b8a038;
  border: solid 1px #786824; }
.pokeType.ice {
  background-color: #98d8d8;
  border: solid 1px #638d8d; }
.pokeType.bug {
  background-color: #a8b820;
  border: solid 1px #6d7815; }
.pokeType.dragon {
  background-color: #7038f8;
  border: solid 1px #4924a1; }
.pokeType.ghost {
  background-color: #705898;
  border: solid 1px #493963; }
.pokeType.dark {
  background-color: #705848;
  border: solid 1px #49392f; }
.pokeType.steel {
  background-color: #b8b8d0;
  border: solid 1px #787887; }
.pokeType.fairy {
  background-color: #ee99ac;
  border: solid 1px #9b6470; }

body {
  background-color: #FCFCFC; }

.btn-prymary {
  background-image: linear-gradient(#E72510, #D9230F 6%, #CB210E);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe72510', endColorstr='#ffcb210e', GradientType=0);
  filter: none;
  border: 1px solid #A91B0C;
  color: #fff; }
  .btn-prymary .badge {
    background-color: #FCFCFC;
    vertical-align: middle;
    color: red; }

.container {
  width: auto; }

.header-pokedex .navbar {
  font-weight: bold;
  padding: 5px 0 10px; }
.header-pokedex .glyph {
  width: 24px;
  vertical-align: middle; }

.view-pokemon:first-child, .view-pokedex:first-child {
  margin-top: 90px; }
.view-pokemon:last-child, .view-pokedex:last-child {
  margin-bottom: 90px; }
.view-pokemon li, .view-pokemon h2:first-letter, .view-pokemon h3:first-letter, .view-pokedex li, .view-pokedex h2:first-letter, .view-pokedex h3:first-letter {
  text-transform: capitalize; }
.view-pokemon .page-header .lead, .view-pokedex .page-header .lead {
  text-transform: lowercase; }
.view-pokemon .page-header .badge, .view-pokedex .page-header .badge {
  display: inline; }
.view-pokemon .page-header .search-pokemon, .view-pokemon .page-header .top10-pokemon, .view-pokedex .page-header .search-pokemon, .view-pokedex .page-header .top10-pokemon {
  margin: 0.83em 0;
  vertical-align: middle; }
  .view-pokemon .page-header .search-pokemon a, .view-pokemon .page-header .top10-pokemon a, .view-pokedex .page-header .search-pokemon a, .view-pokedex .page-header .top10-pokemon a {
    line-height: 2.5em;
    text-transform: uppercase; }
.view-pokemon .page-header .top10-pokemon *, .view-pokedex .page-header .top10-pokemon * {
  text-transform: uppercase; }
.view-pokemon .page-header h1, .view-pokedex .page-header h1 {
  text-align: left; }

.view-pokemon .avatar {
  max-width: 440px;
  width: 100%;
  margin-bottom: 20px; }
.view-pokemon .nav-tabs {
  text-transform: capitalize;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 30px 0; }
.view-pokemon .list-pokeAblt {
  list-style: disc outside none;
  margin-top: 10px; }
.view-pokemon .pokeAblt {
  display: list-item; }
.view-pokemon pokedex-image img {
  margin: 0 auto;
  display: block; }
.view-pokemon pokedex-data pokedex-type ul li {
  display: table-cell; }

.evolution .pokeEvo-list {
  text-align: center; }
.evolution .glyphicon {
  text-align: center;
  margin: 50px 0;
  font-size: 2em; }
.evolution img {
  max-width: 150px; }

/*Angle takes advantage of html5 validation forms and binding classes on inputs*/
.form-control.ng-invalid.ng-dirty {
  border-color: red; }
.form-control.ng-valid.ng-dirty {
  border-color: green; }

.pokemon {
  height: 350px; }
  .pokemon:hover {
    box-shadow: 10px 5px 5px red; }
  .pokemon img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 200px;
    max-height: 220px; }
  .pokemon pokedex-type {
    font-size: 22px; }
    .pokemon pokedex-type ul {
      margin: 5px 0;
      padding: 0; }
      .pokemon pokedex-type ul li {
        display: inline-block; }
  .pokemon h1 {
    margin: 0;
    color: #fff;
    font-size: 16px;
    text-align: left; }
  .pokemon h1 > small {
    color: #ccc; }
  .pokemon .panel-body {
    position: relative;
    height: 250px; }

.block-comments img {
  vertical-align: middle; }

.pagination-pokedex .container {
  display: table;
  padding: 0;
  margin: 0 auto; }
.pagination-pokedex .navbar-header {
  display: inline-block; }

/*# sourceMappingURL=app.css.map */
