<!-- pokemon cards from pokedex -->
<div class="pokemon panel panel-primary">		
	<div class="panel-heading">
		<a href="#/pokemon/{{pokemon.name | normalizeNameImg}}">
			<pokemon-name></pokemon-name>
		</a>
	</div>

	<div class="panel-body">
		<a href="#/pokemon/{{pokemon.name | normalizeNameImg}}">
			<pokedex-image></pokedex-image>
		</a>
	</div>

	<div class="panel-footer">
		<div class="text-center">
			<pokedex-type></pokedex-type>
		</div>
	</div>

	<!-- <pre ng-if="$first">{{pokemon | json}}</pre> -->
</div>