<div class="container" ng-controller="PokedexCtrl">
	<article class="view-pokemon">
		<div class="page-header">
			<h1> {{pokemon.name | uppercase}}
				<small>{{pokemon.species}}</small>
				<span class="label label-primary pull-right">#{{pokemon.id}}</span>
			</h1>
		</div>


		<div class="row">
			<div class="col-md-6">

				<img	class="avatar center-block" alt="image from {{pokemon.name}}"
						image-pokedex
						data-uri="{{getUrlImg( pokemon.id )}}"
						data-resource="{{pokemon.imagesName.avatar}}"
						data-ext="png">
			</div>
			
			<div class="col-md-6 pokedex" ng-controller="TabsCtrl">
				<!-- NAVIGATE IN TABS -->
				<ul class="nav nav-tabs nav-justified">
	           <li ng-class=" { active : tab === 1 }"><a ng-click="selecTab(1)">pokedex</a></li>
	           <li ng-class=" { active : tab === 2 }"><a ng-click="selecTab(2)">stats</a></li>
	           <li ng-class=" { active : tab === 3 }"><a ng-click="selecTab(3)">evolution</a></li>
	         </ul>

	         <div class="tab-content">
	         	<!-- POKEDEX GENERAL PROPERTIES -->
	         	<div class="record" ng-show="tab === 1">
	         		<pokedex-tmpl></pokedex-tmpl>
	         	</div>

	         	<!-- POKEDEX STATS -->
	         	<div class="stats" ng-show="tab === 2">
	         		<h3>status from {{pokemon.name}}</h3>
	         		<ul class="list-group">
	                  <li class="list-group-item">
	                    <strong><abbr title="horse power">hp</abbr></strong>
	                    <span class="badge">{{pokemon.stats.hp}}</span>
	                  </li>
	                  <li class="list-group-item">
	                    <strong>attack</strong>
	                    <span class="badge">{{pokemon.stats.attack}}</span>
	                  </li>
	                  <li class="list-group-item">
	                    <strong>defense</strong>
	                    <span class="badge">{{pokemon.stats.defense}}</span>
	                  </li>
	                  <li class="list-group-item">
	                    <strong>special attack</strong>
	                    <span class="badge">{{pokemon.stats['sp.atk']}}</span>
	                  </li>
	                  <li class="list-group-item">
	                    <strong>special defense</strong>
	                    <span class="badge">{{pokemon.stats['sp.def']}}</span>
	                  </li>
	                  <li class="list-group-item">
	                    <strong>speed</strong>
	                    <span class="badge">{{pokemon.stats.speed}}</span>
	                  </li>
	                  <li class="list-group-item">
	                    <strong>total</strong>
	                    <span class="badge">{{pokemon.stats.total}}</span>
	                  </li>
	                </ul>
	         	</div>

	         	<!-- POKEDEX EVOLUTIONS -->
	         	<div class="evolution" ng-show="tab === 3">
	         		<h3>{{pokemon.imagesName.evolution.length}} evolutions from {{pokemon.name}}</h3>
	         		<div class="pokeEvo-list" ng-repeat="pokeEvo in pokemon.imagesName.evolution">
	                  <a href="#">
	                  	<img	alt="image from {{pokeEvo}} evolution"
										image-pokedex
										data-uri="{{getUrlImg( pokemon.id )}}"
										data-resource="{{pokeEvo}}"
										data-ext="jpg">
	                    <p>
	                      <strong>{{pokeEvo}}</strong>
	                    </p>
	                  </a>
	                  <span ng-hide="$last" class="glyphicon glyphicon-arrow-down"></span>
	                </div>
	         	</div>
				</div>
			</div> <!-- TabsController -->
		</div>
		<!-- END POKEMON PROPERTIES -->

		<!-- COMMENTS -->
		<div ng-controller="CommentsCtrl">

			<button	class="btn btn-prymary"
						ng-hide=" !!showPannel "
						ng-click="togglePannel()">show comments <span class="badge">{{comments.length}}</span></button>

			<div	class="panel panel-primary"
					ng-show=" !!showPannel ">

	          <div class="panel-heading">
	            <h1 class="panel-title">Comments 
	            	<button	class="close pull-right"
	            				ng-click="togglePannel()">&times;</button>
	            </h1>
	          </div>

	          <div class="panel-body">
	          	<!-- FORM COMMENTS -->
	            <form class="form-horizontal" role="form"
	            		ng-submit=" submitComment() "
	            		novalidate name="commentsForm">
	              <div class="form-group">
	                <div class="col-sm-6">
	                  <textarea	class="form-control" ng-model="userComment.body"
	                  				name="commentBody"
	                  				placeholder="tell us what you think about {{pokemon.name | uppercase}}"
	                  				required="required">
	                  </textarea>
	                </div>
	                <div class="col-sm-4">
	                  <input	type="email" ng-model="userComment.email" class="form-control"
	                  			name="commentEmail"
	                  			placeholder="Please enter your email address"
	                  			ng-required=" !userComment.anonymous "
	                  			ng-disabled=" !!userComment.anonymous ">
	                  <label>
	                    <input	id="anonymous" ng-model="userComment.anonymous" type="checkbox"
	                    			ng-change=" isAnonymous() ">
	                    Anonymous
	                  </label>
	                </div>
	                <div class="col-sm-2">
	                  <button type="submit" class="btn btn-sm btn-block">Comment</button>
	                </div>
	              </div>
	            </form>
					
	            <!-- ALERTS FROM FORM VALIDATE -->
	            <div ng-if=" !commentsForm.$pristine && !commentsForm.$valid ">
	            		<h3>Fom Invalid</h3>
	            		<span class="sr-only">if no errors in inputs or are empty</span>

	            		<div	class="alert alert-warning" role="alert"
	            				ng-show=" !commentsForm.commentBody.$valid ">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Warning!</strong> required any comment.
							</div>

	            		<div	class="alert alert-warning" role="alert"
	            				ng-show=" !commentsForm.commentEmail.$valid ">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Warning!</strong> Email invalid.
							</div>
	           	</div>
					
					<!-- SHOW COMMENTS -->
	            <blockquote ng-repeat="comment in comments">
	              <p>{{comment.body}}</p>
	              <footer>
		                Comment by 
		                <a	ng-if=" !comment.anonymous "
		                		href="mailto:{{comment.email}}"> {{comment.email}}</a> 
		                <em ng-if=" !!comment.anonymous ">anonimous user</em>
		                on <span> {{comment.date | date:'medium'}} </span>
	              </footer>
	            </blockquote>
	          </div>
	       </div>
		</div> <!-- CommentsController -->


	</article>
</div> <!-- PokedexController -->