<div class="container" ng-controller="PokemonCtrl">
	<article class="view-pokemon" ng-if=" !!pokemon.name ">
		<div class="page-header">
			<pokemon-name></pokemon-name>
		</div>

		<div class="row">
			<div class="col-md-6">
				<pokedex-image></pokedex-image>
			</div>
			
			<div class="col-md-6 pokedex" ng-controller="TabsCtrl">
				<!-- NAVIGATE IN TABS -->
				<ul class="nav nav-tabs nav-justified">
	           <li ng-class=" isActive(1) "><a ng-click=" selecTab(1) ">pokedex</a></li>
	           <li ng-class=" isActive(2) "><a ng-click=" selecTab(2) ">stats</a></li>
	           <li ng-class=" isActive(3) "><a ng-click=" selecTab(3) ">evolution</a></li>
	         </ul>

	         <div class="tab-content">
	         	<!-- POKEDEX GENERAL PROPERTIES -->
	         	<div class="record" ng-show="tab === 1">
	         		<pokedex-data></pokedex-data>
	         	</div>

	         	<!-- POKEDEX STATS -->
	         	<div class="stats" ng-show="tab === 2">
	         		<pokedex-stats></pokedex-stats>
	         	</div>

	         	<!-- POKEDEX EVOLUTIONS -->
	         	<div class="evolution" ng-show="tab === 3">
	         		<pokedex-evolution></pokedex-evolution>
	         	</div>
				</div>
			</div> <!-- TabsController -->
		</div>
		<!-- END POKEMON PROPERTIES -->

		<!-- COMMENTS -->
		<pokedex-comments poke-name="{{pokemon.name}}"></pokedex-comments>
	</article>

	<div class="view-pokemon" ng-if=" !pokemon.name ">
		 <div class="page-header">
		   <h1>Error</h1>
		 </div>
		 <div class="alert alert-danger">
		   <p><a href="#/pokedex">Pokémon not found, select into Pokedex</a></p>
		 </div>
	</div>
</div> <!-- PokedexController -->