<div class="container">
	<section class="view-pokedex">
		<div class="page-header">
			<h1>
				<span ng-if="type" class="label pokeType {{type}}">{{type}} pokédex</span>
				<span ng-if="!type">pokédex</span>
				<span class="lead pull-right">
					showing
					<span class="badge">{{pokemons.length}}</span>
					pokémons
				</span>
			</h1> 
		</div>

		<div class="row" ng-repeat="group in groupped">
			<div class="col-lg-3" ng-repeat="pokemon in group">
				<div class="pokemon panel panel-primary">
					
					<div class="panel-heading">
						<a href="/#pokemon/{{pokemon.name | normalizeNameImg}}">
							<pokemon-name></pokemon-name>
						</a>
					</div>

					<div class="panel-body">
						<a href="/#pokemon/{{pokemon.name | normalizeNameImg}}">
							<pokedex-image></pokedex-image>
						</a>
					</div>

					<div class="panel-footer">
						<div class="text-center">
							<pokedex-type></pokedex-type>
						</div>
					</div>

					<!-- <pre ng-if="$first">{{pokemon | json}}</pre> -->
				</div>
			</div>
		</div>
	</section>
</div>